
.white {
	color:#fff
}
.table>thead>tr>th {
	text-transform: uppercase !important;
}
.modal-body h1 {
	margin:0 0 20px 0;
}
.modal-body p.text-uppercase {
	margin-bottom: 0
}
.alert {
	padding:8px 10px;
}
.view-leave-status label {
	width:120px;
}
.view-leave-status .form-group {
	margin-bottom:10px;
}
.navbar-header.admin-portal {
    background: #1169bb;
}
li.switcher span {
	font-size:12px;
}
#side-menu > li > a.active {
    background: transparent !important;
    color: #97999f !important;
    font-weight: 300 !important;
}
.modal .panel .panel-heading {
    padding: 10px 15px;
        font-weight: 300;
}
.sttabs nav a span {
    vertical-align: middle;
    font-wight: 500;
    font-size: 14px;
    font-family: Rubik, sans-serif;
    display: block;
    margin-top: 10px;
}
.modal .panel {
	margin-bottom:5px;
}
.modal .panel-body {
	background:#e7e7e7;
	padding:15px !important;
}
.modal .panel-body .checkbox:first-child {
	margin-top:0;
}
.modal .panel-body .checkbox:last-child {
	margin-bottom:0;
}
.profile-photo {
	border-radius: 50%;
	border:3px solid #e7e7e7;
	width:200px;
	max-width: 100%
} 
.searchtable {
	border-radius:30px !important;
}
.claim-amount .amount {
    font-size: 18px;
    font-weight: 300;
}
.claim-amount th {
	vertical-align: middle !important
}
.alert-dismissable .close, .alert-dismissible .close {
	right: 0px;
}
blockquote {
	font-size:14px !important;
}
.table .checkbox {
	margin:0;}
.table th.hasCheck {
    padding-top: 15px;
    padding-bottom: 8px;
}
.payment-form p {
	font-weight: 300
}
.panel-heading .btn-circle.btn-lg {
    width: 30px;
    height: 30px;
    padding: 0px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 18px;
    margin:0 !important;
}
.sk-chat-widgets .white-box {
	padding:10px 25px;
}
.panel .panel-body.chat {
	padding:0 10px;
}
.panel .panel-footer.chat {
	margin-top:20px;
}
.tabs-style-linemove nav li.tab-current::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #ff0000;
    content: '';
    -webkit-transition: -webkit-transform 0s;
    transition: transform 0s;
}
.tabs-style-linemove nav li:last-child::before {
     
    -webkit-transition: -webkit-transform 0s;
    transition: transform 0s;
}
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 400;
}
.dataTables_wrapper .dataTables_filter input {
	margin-left:0;
}
label {
    font-weight: 300 !important;
} 
 .table-responsive {
 	width:100%;
}
.dataTables_wrapper .dataTables_filter {
	float:left;
	margin-left:20px;
}
.dataTables_wrapper .dataTables_length {
	margin: 8px 0px;
}
.create-project {
	    position: absolute;
    right: 0;
    margin-right: 26px;
    padding:8px 15px;
}
.create-project .fa {
	padding-right:10px;
}
.row .calendar-widget .cal-right .cal-table td, .row .calendar-widget .cal-bottom .cal-table td {
	padding:16px 12px;
}
.row .chat-list .chat-text {
	font-size: 13px;
	padding:10px;
}
.chat-list li:last-child {
	margin-bottom: 0
}
.sk-chat-widgets .chatonline li:last-child {
	padding-bottom:0;
}
td a.label {
	color:#fff;
	margin-left:5px;
}
.white {
	color:#fff !important;
}
.buttons .btn {
	font-weight: 300
}
.modal-header {
	background: #4c5667;

}
.modal-header h4 {
	color:#fff;
}
.subtask td {
	background:#f8f8f8;
}
.project-details label {
	font-weight: 500 !important;
}
.project-details .row.bg-title {
	margin-bottom:0;
}
.project-title h1 {
    color: #fff;
    margin: 0 0 20px 0;
    font-size: 31px;
    line-height: 1.4em;
}
.project-details .breadcrumb {
    padding: 0;
    margin-bottom: 10px;
    margin-top:30px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    color: #fff;
}
.project-details .breadcrumb li,
.project-details .breadcrumb a{
	color:#bbb;
	font-weight: 300
}
.project-info h3 {
	color:#bbb;
	font-weight:400 !important;
}
.project-info table  td {
	color:#fff;
	font-weight: 300
}
.project-info {
	margin-top:30px;
}
.project-info td {
	padding:8px 0 !important;
}
.project-title {
	margin-bottom:30px;
}
.project-manager-details {
	    margin-top: 18px;
    margin-left: 15px;
}
.project-info .table tr td {
	color:#ddd;
    border-top: 1px solid #656f7f;
    font-size:12px !important;
}
.project-info .table tr:last-child td {
	color:#ddd;
    border-bottom: 1px solid #656f7f;
    font-size:12px !important;
}
.project-info .table tr td:first-child {
	padding-right:10px !important;
}
.project-info table { 
}
.panel-body h3 {    
	margin-top: 0;
    font-weight: 500;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.project-details .content-wrap section {
    padding: 10px 20px 20px 10px;
}
p.progress-amount {
    padding: 0 !important;
    font-size: 12px;
    color: #333;
}
.ribbon {
    position: absolute;
    left: 0;
    margin-left: 40px;
    padding: 5px;
    top: 0;
    margin-top: 0px;
    width: 100px;
    text-align: center;
}

.ribbon.late {
background:#ff7676;
}
.ribbon.fast {
background:#30b359;
}
.col-md-4.project-info-collapse.minimize {
    width: 65px;
}
.minimize a.collapser {
    position: absolute;
    top: 0;
    z-index: 9;
    margin-left: 20px;
    margin-top: 20px;
}
.minimize .ribbon {
	visibility: hidden;
}
.minimize .panel-body {
	visibility: hidden
}
.project-info-expand.expanded {
	width:calc(100% - 65px);
}
.collapser {
    color: #fff;
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    border: 1px solid #eee;
    border-radius: 50%;
    text-align: center;
    padding: 3px 0;
    margin: 15px 0 0 24px;
}
.navbar-header {
    background:#2e3092 !important;
}
a.collapser-btn {
    position: absolute;
    right: 0;
    margin-right: 13px;
}
.project-info {
    background: transparent !important;
    position:relative;
}
.project-info .panel-body {
    padding: 0 !important
}
.project-info .panel-action {
        right: 0;
    position: absolute;
    margin-top:8px;
    top: 0;
}
.project-info .panel-action a {
    color:#ddd;
}
#financial .table td {
    border-bottom: 1px solid #e4e7ea
}
.timeline-panel {
    padding: 10px 15px !important;
}
.timeline-title {
    margin-top: 0;
    
    font-weight: 400;
    font-size: 15px;
    color: #2e3092 !important;
    margin: 0;
}
.timeline-body>p, .timeline-body>ul {
    margin-bottom: 0;
    margin: 0 !important;
    padding: 0 !important;
}
.chat-circle {
    margin-right: 10px;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #ddd;
    padding-top: 7px;
    border-radius: 50%
}
.dataTables_length label, .dataTables_filter label {
    font-weight: 300 !important
}
.counter-box {
    position:absolute;
    top:0;
    margin:29px;
    right:10px;
    font-size:12px;
    font-weight:300
}
.counter-box .due-date {
    font-size:20px;
    display: block;
    font-weight:400;
}
h3.counter.text-right.m-t-15 {
    margin-top: 28px !important;
}
li.col-middle h4 {
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 27px 0 0;
}
svg text{
      font-size:10px!important;
}
@media screen and (min-width: 768px) {
.modal-dialog {
	width:730px;
}
}
@media screen and (max-width: 767px) {
.row.form-group [class*=col] {
	margin-bottom:20px;
}
.row.form-group {
	margin-bottom: 0
}
.modal-body {
	padding:20px;
}
}